


@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
body{
    width: 100%;
    height: 100vh;
}
#nav{

    /* border-right: 1px solid black; */


}
.navbar{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    padding: 0 50px;

    z-index: 10000000090;
}
.logo{
    display: flex;
    
    /* border: 2px solid yellowgreen; */
}
.logo a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: flex;
    gap: 10px;
}

#logo-txt{
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#highlight{
    color: red;
}
#second-highlight{
    color: #5a98f7;
}
.top-nav{
    /* margin-top: 20px; */
    /* border: 2px solid yellowgreen; */
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
}

.icon-nav{
    display: none;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
    
    /* border: 2px solid red; */
}
.top-nav li{
    list-style: none;
    padding: 0 20px;
    transition: transform 0.2s ease-in-out;
}

.nav-ul>li:hover{
    transform: scale(1.2);
   
}
.nav-ul>li>a{
    text-decoration: none;
    color: white;
    position: relative;
    
    font-family: "Exo 2", sans-serif;
    transition:  0.2s ease-in-out;
}
.nav-ul>li>a:hover{
    color: #5a98f7;
}
.nav-ul>li>a:active{
    color: rgb(116, 113, 113);
}

.top-nav li a::after{
    content: '';
    height: 2px;
    width: 100%;

    position: absolute;
    top: 30px;
    left: 0;

    background:red;

    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.top-nav li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.nav-link>i{
    transition: transform 0.2s ease-in-out;
}
.nav-link>i:hover{
    transform: scale(1.3);
}

.nav-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.nav-link-txt{
    font-size: 22px;
    text-align: center;
}

.bottom-nav{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.bottom-nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.bottom-nav a:hover{
    color: #5a98f7;
}
.bottom-nav{
    cursor: pointer;
}



/* ----------------------------------------------Foooter--------------------------------------- */


#footer{
    background: black;
    color: white;
}
.wrapper-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.left-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-header{
    font-size: 20px;
}
.left-footer ul{
    display: flex;
    flex-direction: column;
}
.left-footer ul li{
    list-style: none;
}
.left-footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
}

.left-footer ul li a:hover{
    color: #5a98f7;
}

.left-footer ul li a::after{
    content: '';
    height: 2px;
    width: 100%;
    background: red;
    position: absolute;
    top: 16px;
    left: 0;

    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}

.left-footer ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.footer-logo a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: flex;
    gap: 10px;
}

.social-links{
    display: flex;
    justify-content: space-evenly;
}
.social-links img{
    height: 20px;
    width: 20px;
    border-radius: 5px;
}
.social-links a{
    transition: transform 0.2s ease-in-out;
}
.social-links a:hover{
    transform: scale(1.2);
}
