body{

}

#main{
    margin-top: 65px;
}

.wrapper-main{
    min-height: 120vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}
.topbg{
    background: #5a98f7;
    height: 40vh;
    width: 100%;
    position: absolute;
    top: 0px;
}
.back{
    position: fixed;
    top: 90px;
    left: 50px;
    font-size: 30px;
}
.back a{
    text-decoration: none;
    color: black;
}

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: white;
    border: 1px solid black;
    border-radius: 50px;

    position: absolute;
    top: 100px;
    height: 80%;
    width: 50%;

    gap: 100px;

    padding: 50px;
}
.profile-header h1{
    font-size: 50px;
}
.profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.profile-details img{
    height: 300px;
    width: 300px;
    border: 0.5px solid black;
    border-radius: 50%;
}

.main-detail h1{
    font-size: 30px;
}
.main-detail, .secondary-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
