*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height:auto
}

.wrapper{
    width: 100%;
    height: auto;

    display: flex;
    /* gap: 10px; */
}

/* -------------------------------------------- */

#hero {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
  background: url('../Images/bg/pexels-florian-holly-2584321-6308163.jpg');
}
.mainpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

#hero h1{
    font-size: 60px;
    font-family: "Exo 2", sans-serif;
}

.main-page-hero-container{
    height: auto;
    min-height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    background: white;
    border-radius: 20px;
}

.dynamic-texts{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}
.dynamic-texts ul{
    height: 40px;
    line-height: 40px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.dynamic-texts ul li{
    list-style: none;
    font-weight: 600;
    font-family: "Exo 2", sans-serif;
    position: relative;
    animation: slide 6s steps(10) infinite;
}

@keyframes slide {

    100%{
        top: -40px;
    }    

}

.dynamic-texts ul li::after{
    content: '';
    border-left: 2px solid #5a98f7;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;

    animation: typing 3s steps(25) infinite;
}

@keyframes typing {
    40%,
    60%{
        left: calc(100% + 20px);
    }    
    100%{
        left: 0;
    }
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50%;
}
#search{
    border: 0.5px solid black;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    width: 100%;
}
#search:focus{
    outline: 1px solid #5a98f7;
}
.search button{
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 0 10px 10px 0;
    outline: none;

    cursor: pointer;
    font-size: 13.5px;
}

.search button:active{
    background: grey;
}