
body{
    font-family: "Exo 2", sans-serif;
}
#topics{
    display: flex;
    gap: 30px;
    /* height: 100%; */
}


.topics-cards{
    /* border: 2px dotted red; */

    margin-top: 70px;
    position: sticky;
    top: 70px;
    left: 0;
    height: 91vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topics-cards ul{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 0 5px;
    border-right: 1px solid black;
    overflow-y: scroll;
}
#li{
    list-style: none;
    padding: 5px 0;
    text-align: center;
}


#li a{
    text-decoration: none;
    color: black;
}
#li a:hover{
    color: rgba(0, 0, 0, 0.4);

}

.wrapper-topics{
    margin-top: 60px;
}
.hero{
    /* border: 1px solid red; */

    width: 100%;
    grid-area: "hero";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#intro{
    height: 100%;
}
.text{
    /* margin: 10px 0; */
}
.para{
    /* margin: 10px 0; */
}
.landscape-img img{
    border-radius: 10px;
    width: 80%;
    height: auto;
}
.img img{
    border-radius: 10px;
    margin-top: 20px;
    width: auto;
    height: 600px;
}