*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:auto
}
.wrapper{
    width: 100%;
    height: 100vh;

    display: flex;
    
}

#nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid black;
    padding: 5px 20px;
}
.left-nav{
    /* border: 2px solid red; */
}
.left-nav a{
    text-decoration: none;
    color: black;
}
.right-nav{
    /* border: 2px solid red; */
}
.right-nav ul{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    align-items: center;
}
.right-nav li{
    list-style: none;
    padding: 0 20px;
    
    transition: transform 0.2s ease-in-out;
}
.nav-ul>li>a{
    text-decoration: none;
    color: black;
    position: relative;
    
}
.nav-ul>li:hover{
    transform: scale(1.2);
}
.nav-ul>li>a::after{
    content: "";
    height: 1.5px;
    width: 100%;

    
    position: absolute;
    top: 20px;
    left: 0px;

    background: rgba(192, 188, 3, 0.887);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;

}
.nav-ul>li>a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

/* -------------------------------------------- */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h1{
    font-size: 30px;
    font-family: "Exo 2", sans-serif;
}
