
body{
    font-family: "Exo 2", sans-serif;
}
#topics{
    display: flex;
    gap: 30px;
}
.wrapper-topics{
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-height: 100vh;
    width: 100%;
    margin-top: 10px;
}



.topics-cards{
    /* border: 2px dotted red; */

    position: sticky;
    top: 50px;
    left: 0;
    height: 94vh;
    grid-area: "list";

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topics-cards ul{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-right: 1px solid black;
    overflow-y: scroll;
}
#li{
    list-style: none;
    padding: 5px 0;
    text-align: center;
}

#li a{
    text-decoration: none;
    color: black;
}

.hero{
    /* border: 1px solid red; */
   
    grid-area: "hero";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.text{
    padding: 10px 0;
}
.para{
    padding: 10px 0;
}