
body{
    font-family: "Exo 2", sans-serif;
}
.wrapper-topics{
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-height: 100vh;
    width: 100%;
    margin-top: 10px;
}

.wrapper-topics-cards{
   
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "list" "hero"
    ;

    padding: 0 10px;
}

.topics-cards{
    /* border: 2px dotted red; */
    border-right: 1px solid black;
    
    height: 100%;
    width: 80%;
    grid-area: "list";
}
.topics-cards ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#li{
    list-style: none;
    padding: 5px 0;
    text-align: center;
}

#li a{
    text-decoration: none;
    color: black;
}

.hero{
    /* border: 1px solid red; */
   
    grid-area: "hero";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}